<launch>
  <!-- example launch script to calibrate for stereo or single camera -->
  <arg name="camera" default="tech_wide" />
  <arg name="stereo" default="1" />
  <arg name="showviz" default="$(arg stereo)" />
  <group >
    <include file="$(arg camera)_base.xml" >
        <arg name="userect" value="0" />
        <arg name="stereo" value="$(arg stereo)" />
    </include>
  </group>

  <!-- switch for stereo mode -->
  <group if="$(arg stereo)" >
    <node name="calibrate" pkg="camera_calibration" type="cameracalibrator.py" output="screen"
        args="--size 8x6 --square 0.108 right:=/$(arg camera)/right/image_raw left=/$(arg camera)/left/image_raw left_camera:=/$(arg camera)/left right_camera=/$(arg camera)/right" >
    </node>
  </group>
  <group unless="$(arg stereo)" >
    <node name="calibrate" pkg="camera_calibration" type="cameracalibrator.py" output="screen"
        args="--size 8x6 --square 0.108 image:=/$(arg camera)/image_raw camera:=/$(arg camera)" >
    </node>
  </group>

  <!-- temporary show of images until calibration works -->
  <group if="$(arg showviz)" >
    <node name="left" pkg="image_view" type="image_view" output="screen" >
        <remap from="image" to="/$(arg camera)/left/image_raw" />
    </node>
    <node name="right" pkg="image_view" type="image_view" output="screen" >
        <remap from="image" to="/$(arg camera)/right/image_raw" />
    </node>
  </group>
</launch>
